<div class="jumbotron">
    <div>
        <figure xchart style="width: 400px; height: 300px;" id="myChart" data="graph.data" type="graph.type" opts="graph.opts"></figure>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>entry</th>
                <th>comment</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in entries" ng-class="{selected: entry.index === highlightedIndex}">
                <td>{{entry.index}}</td>
                <td>{{entry.comment}}</td>
                <td>{{entry.happiness.label}}</td>
                <td>{{entry.date | date: shortDate}}</td>
            </tr>
            <tr>
                <td>new</td>
                <td><input type="text" ng-model="newEntry.comment"></td>
                <td>
                    <select ng-model="newEntry.happiness" ng-options="level.label for level in happinessLevels">
                    </select>
                </td>
                <td>
                    <input type="button" ng-click="add()" value="Add">
                </td>
            </tr>
            </tbody>
        </table>
        <input type="text" ng-model="highlightedIndex">
    </div>
</div>
